/*
 * Device Tree Source for the Eagle V3M expansion board
 *
 * Copyright (C) 2017 Ideas on Board <kieran.bingham@ideasonboard.com>
 *
 * This file is licensed under the terms of the GNU General Public License
 * version 2.  This program is licensed "as is" without any warranty of any
 * kind, whether express or implied.
 */

/ {
	cvbs-in {
		compatible = "composite-video-connector";
		label = "CVBS IN";

		port {
			cvbs_con: endpoint {
				remote-endpoint = <&adv7482_ain7>;
			};
		};
	};

	hdmi-in {
		compatible = "hdmi-connector";
		label = "HDMI IN";
		type = "a";

		port {
			hdmi_in_con: endpoint {
				remote-endpoint = <&adv7482_hdmi>;
			};
		};
	};

	hdmi0-out {
		compatible = "hdmi-connector";
		label = "HDMI0 OUT";
		type = "a";

		port {
			hdmi0_con: endpoint {
			};
		};
	};
};

&i2c0 {
	/* GPIO Expander@27:
	 *   IO.0: ROUTE_I2C_ENn
	 *   IO.1: ALT_FUNC_ENn
	 *   IO.2: DU_RGB888_ENn
	 *   IO.3: VIN0_ADV7612_ENn
	 *
	 *   IO.4:
	 */
	io_expander_27: gpio@27 {
		compatible = "onnn,pca9654";
		reg = <0x27>;
		gpio-controller;
		#gpio-cells = <2>;
	};

	video-receiver@70 {
		compatible = "adi,adv7482";
		reg = <0x70>;

		#address-cells = <1>;
		#size-cells = <0>;

		interrupt-parent = <&gpio3>;
		interrupt-names = "intrq1", "intrq2";
		interrupts = <03 IRQ_TYPE_LEVEL_LOW>,
			     <04 IRQ_TYPE_LEVEL_LOW>;

		port@7 {
			reg = <7>;

			adv7482_ain7: endpoint {
				remote-endpoint = <&cvbs_con>;
			};
		};

		port@8 {
			reg = <8>;

			adv7482_hdmi: endpoint {
				remote-endpoint = <&hdmi_in_con>;
			};
		};

		port@10 {
			reg = <10>;

			adv7482_txa: endpoint {
				clock-lanes = <0>;
				data-lanes = <1 2 3 4>;
				// remote-endpoint = <&csi40_in>;
			};
		};
	};
 };